# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# Django
*.sqlite3
media/
staticfiles/
.env

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
